<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalWorkload">Загрузить
    нагрузку преподавателей</button>

<form method="post" action="/direct/twl" enctype="multipart/form-data">
    @csrf
    <div class="modal fade" id="exampleModalWorkload" tabindex="-1" data-bs-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Загрузка нагрузки преподавателей</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Выберете xlsx файл</label>
                        <input class="form-control" type="file" id="formFile"  name="teacher_workload_file" accept=".xlsx">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Загрузить</button>
                </div>
            </div>

        </div>
    </div>
</form>